:host {
  &::before {
    background-image: url('../../../assets/img/about-bg.jpg');
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    gap: 3rem;
    margin-top: 4rem;
  }

  .about__me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .abstracts {
    font-size: 1.2rem;
  }

  .abstract {
    text-align: center;
    margin-top: 1rem;
    line-height: 1.5;
    transform: translateY(50%);
    opacity: 0;
    transition: transform 500ms ease-in, opacity 500ms ease-in;

    &.appear {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .me {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    max-width: 200px;

    img {
      border-radius: 50%;
      max-width: 200px;
      box-shadow: 0 0 4px 0 var(--clr-secondary);
    }
  }

  .about__skills {
    font-size: 1rem;
    padding: 2rem;
    width: 100%;
  }

  @media screen and (max-width: 1024px) {
    height: unset;

    .about {
      grid-template-columns: 1fr;
    }

    .about__me {
      flex-direction: row;
    }

    .abstracts {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 760px) {
    height: unset;

    .about {
      grid-template-columns: 1fr;
    }

    .about__me {
      flex-direction: row;
    }

    .abstracts {
      font-size: 1rem;
    }
  }

  @media screen and (max-width: 560px) {
    .about {
      display: flex;
      flex-direction: column;
    }

    .about__me {
      flex-direction: column;

      .me {
        max-width: 150px;
      }
    }
  }
}
