<h1 class="section__header" [innerHTML]="'about.title' | translate"></h1>
<div class="about">
  <div class="about__me">
    <div class="me">
      <img src="./assets/img/me.jpg" alt="René Wolf" aria-label="René Wolf" />
    </div>
    <div class="abstracts">
      <div class="abstract">{{ 'about.text-1' | translate }}</div>
      <div class="abstract">{{ 'about.text-2' | translate }}</div>
    </div>
  </div>
  <div class="about__skills">
    <ng-container *ngFor="let skill of skills">
      <div class="skill-label">
        <span>{{ skill.name }}</span>
        <span>{{ skill.value }}</span>
      </div>
      <div class="skill-bar">
        <div class="skill-bar__fill" [style.width]="skill.value"></div>
      </div>
    </ng-container>
  </div>
</div>
