<h1 class="section__header" [innerHTML]="'about.title' | translate"></h1>
<div class="about">
  <div class="about__me">
    <div class="me">
      <img src="./assets/img/me.jpg" alt="René Wolf" aria-label="René Wolf" />
    </div>
    <div class="abstracts">
      <div class="abstract" reWoDevIntersectionObserver intersectionClass="appear" [intersectionThreshold]="0.5">
        {{ 'about.text-1' | translate }}
      </div>
      <div class="abstract" reWoDevIntersectionObserver intersectionClass="appear" [intersectionThreshold]="0.5">
        {{ 'about.text-2' | translate }}
      </div>
    </div>
  </div>
  <div class="about__skills card">
    <div *ngFor="let skill of skills" class="skill" reWoDevIntersectionObserver intersectionClass="appear" [intersectionThreshold]="0">
      <div class="skill-label">
        <span>{{ skill.name }}</span>
        <span>{{ skill.value }}</span>
      </div>
      <div class="skill-bar">
        <div class="skill-bar__fill" reWoDevIntersectionObserver [intersectionStyle]="{ width: skill.value }"></div>
      </div>
    </div>
  </div>
</div>
