/* You can add global styles to this file, and also import other style files */

$primary: #ff9800;
$accent: #03a9f4;
$secondary: #22272e;
$font: #fefefe;
$side-menu-bg: #1b1b1b;

$primary-light: #ffe0b2;
$accent-light: #03a9f4;
$secondary-light: #fefefe;
$font-light: #1b1b1b;
$side-menu-bg-light: #dbdbdb;

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 40) {
    @return #000;
  } @else {
    @return #fff;
  }
}

:root {
  --clr-primary: #{$primary};
  --clr-primary-dark: #{$primary};
  --clr-primary-light: #{lighten($primary, 10%)};
  --clr-secondary: #{$secondary};
  --clr-secondary-light: #{lighten($secondary, 10%)};
  --clr-accent: #{$accent};
  --clr-accent-light: #{lighten($accent, 10%)};
  --clr-font: #{set-text-color($secondary)};
  --clr-side-menu-bg: #{$side-menu-bg};
}

body.light {
  --clr-primary: #{$primary-light};
  --clr-primary-dark: #{$primary};
  --clr-primary-light: #{lighten($primary-light, 10%)};
  --clr-secondary: #{$secondary-light};
  --clr-secondary-light: #{lighten($secondary-light, 10%)};
  --clr-accent: #{$accent-light};
  --clr-accent-light: #{lighten($accent-light, 10%)};
  --clr-font: #{set-text-color($secondary-light)};
  --clr-side-menu-bg: #{$side-menu-bg-light};
}

html,
body {
  height: 100%;
  background-color: var(--clr-secondary);
  color: var(--clr-font);
  font-family: 'Montserrat', sans-serif;
}

body {
  min-width: 360px;
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section {
  display: block;
  position: relative;
  padding: 4rem;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.1;
    background-size: cover;
    z-index: -1;
  }

  .section__header {
    margin: 2rem 0 4rem;
  }

  h1 {
    font-size: 6rem;
    letter-spacing: -5.5px;
  }

  h2 {
    font-size: 3rem;
  }

  @media screen and (max-width: 767px) {
    padding: 3rem;

    h1 {
      font-size: 5rem !important;
    }

    h2 {
      font-size: 2.5rem !important;
    }

    .section__header {
      margin: 1.5rem 0 3rem;
    }
  }

  @media screen and (max-width: 560px) {
    padding: 2rem;

    h1 {
      font-size: 3rem !important;
    }

    h2 {
      font-size: 1.8rem !important;
    }
  }

  @media screen and (max-height: 767px) and (orientation: landscape) {
    height: unset !important;

    h1 {
      font-size: 3rem !important;
      margin-top: 0;
      letter-spacing: -3px;
    }

    h2 {
      font-size: 1.8rem;
    }

    .section__header {
      margin: 1rem 0 2rem;
    }
  }
}

a {
  text-decoration: none;
  color: var(--clr-font);
}

.bg-secondary {
  background: var(--clr-secondary);
}

.bg-primary {
  background: var(--clr-primary);
}

.btn {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-rounded {
  border-radius: 10px;
}

.big-btn {
  display: flex;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  div,
  a,
  button {
    padding: 0.75rem 1.5rem;
    font-size: 21px;
    border: 2px solid var(--clr-primary-dark);
    color: var(--clr-primary-dark);

    .las {
      margin-left: 1rem;
      transition: transform 0.2s ease-in-out;
    }

    &:hover {
      color: var(--clr-font);
      background-color: var(--clr-primary-dark);

      .las {
        color: var(--clr-font);
        transform: rotate(90deg);
      }
    }
  }

  button {
    border: 2px solid var(--clr-secondary);
    color: var(--clr-secondary);
    background: transparent;

    &:hover {
      color: var(--clr-font);
      background-color: var(--clr-secondary);
    }

    &:disabled {
      background: var(--clr-secondary-light);
    }
  }
}

.text-primary {
  color: var(--clr-primary-dark);
}

.text-secondary {
  color: var(--clr-secondary);
}

.card {
  display: flex;
  flex-direction: column;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);

  &__header {
    background: transparent;
    padding: 1.25rem 1.5rem;
    font-size: 1.5rem;
    border-bottom: 1px solid rgba(209, 213, 219, 0.3);
  }

  &__body {
    padding: 1.25rem 1.5rem;
    font-size: 1.2rem;

    &__header {
      color: var(--clr-primary-dark);
      font-size: 1.5rem;
      margin-bottom: 0.5rem;

      &:not(:first-child) {
        margin-top: 1rem;
      }
    }

    ul {
      padding-left: 2rem;

      li {
        line-height: 1.5;
        margin-bottom: 0.5rem;
      }
    }
  }

  @media screen and (max-width: 767px) {
    &__header {
      font-size: 1.25rem;
    }

    &__body {
      font-size: 1rem;

      ul {
        padding-left: 1rem;
      }
    }
  }

  @media screen and (max-width: 560px) {
    &__header {
      font-size: 1rem;
    }

    &__body {
      font-size: 0.8rem;

      &__header {
        font-size: 1rem;
        margin-bottom: 0.4rem;

        &:not(:first-child) {
          margin-top: 0.6rem;
        }
      }

      ul {
        padding-left: 1rem;

        li {
          line-height: 1.3;
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}

.typewriter {
  display: inline-flex;
}

.typewriter h2 {
  overflow: hidden;
  border-right: 0.15em solid var(--clr-primary-dark);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.1em;
  animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
}

.replay {
  animation-name: none !important;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: var(--clr-primary-dark);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

::-webkit-scrollbar-thumb {
  background: var(--clr-primary);
  box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);

  &:hover {
    background: var(--clr-primary-light);
  }
}
