:host {
  scroll-snap-type: y mandatory;
  height: calc(100vh - 68px);
  overflow-y: scroll;
  position: relative;
  display: block;

  .content {
    max-height: calc(100vh - 68px);
    overflow-y: scroll;
  }
}
