:host {
  margin-bottom: 3rem;

  &::before {
    background-image: url('../../../assets/img/services-bg.jpg');
  }

  .cards {
    margin-top: 4rem;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card {
    opacity: 0;
    transition: opacity 0.3s ease-in;
    width: 400px;

    &.appear {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    height: unset;
  }

  @media screen and (max-width: 560px) {
    .cards {
      margin-bottom: 3rem;
    }
  }
}
