<div class="side-menu-overlay" [class.visible]="visible$ | async"></div>
<div class="side-menu-wrapper" [class.visible]="visible$ | async">
  <re-wo-dev-language-select class="side-menu__lang"></re-wo-dev-language-select>
  <div class="side-menu__nav">
    <ul>
      <li *ngFor="let menuItem of menuItems">
        <a class="btn" (click)="scrollToPage(menuItem.section)" routerLinkActive="active">{{ menuItem.label | translate }}</a>
      </li>
    </ul>
  </div>
  <div class="side-menu__footer">
    <div class="side-menu__footer__socials">
      <a href="https://github.com/rewodev" target="_blank"> <span class="lab la-github"></span> </a>
      <a href="https://www.xing.com/profile/Rene_Wolf27/cv" target="_blank"> <span class="lab la-xing"></span> </a>
    </div>
    <div class="side-menu__footer__copyright">&copy; {{ 'copyright' | translate }}</div>
  </div>
</div>
