:host {
  position: fixed;
  z-index: 50;
  right: 0;
  left: 0;
  bottom: 0;
  padding: 0.5rem 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-top: 1px solid rgba(209, 213, 219, 0.3);

  .copyright {
    font-size: 0.8rem;
  }

  .imprint {
    cursor: pointer;
  }

  .socials {
    display: flex;
    gap: 1rem;

    .lab {
      font-size: 2rem;
    }
  }
}
