<div class="container">
  <div class="navbar__logo"></div>
  <div class="navbar__contact">
    <a href="mailto:hello@re-wo-dev.com" class="btn">
      hello@re-wo-dev.com
      <div class="copy" [class]="copyPending"></div>
    </a>
    <span class="las la-copy btn" (click)="copy()" title="{{ 'header.copy' | translate }}"></span>
  </div>
  <div class="navbar__actions">
    <re-wo-dev-language-select class="navbar__lang"></re-wo-dev-language-select>
    <div class="navbar__burger" (click)="toggleMenu()" [class.close]="sideMenuService.visible$ | async">
      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
    </div>
  </div>
</div>
