:host {
  display: block;
  padding: 1rem 2rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--clr-secondary);
  z-index: 300;
  height: 68px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    position: relative;
  }

  .navbar__logo {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--clr-primary);
  }

  .navbar__contact {
    display: flex;
    align-items: center;

    // .icon {
    //   display: none;
    //   visibility: hidden;
    //   background: var(--clr-primary);
    //   font-size: 2rem;
    //   border-radius: 50%;
    //   cursor: pointer;
    //   padding: 0.75rem;
    //   transition: all 0.5s ease-in-out;
    // }

    a.btn {
      position: relative;
      transition: all 0.5s ease-in-out;
    }

    .copy {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background: var(--clr-primary);
      border-radius: 5px;
      visibility: hidden;
      width: 0;
      opacity: 0.3;
      transition: width 500ms ease-out;

      &.appear {
        width: 100%;
        visibility: visible;
      }

      &.ready {
        transition: none;
        width: 0;
      }
    }

    a.btn,
    .btn.las {
      transition: all 0.5s ease-in-out;
      padding: 0.5rem;

      &:hover {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 5px;
      }
    }

    .btn.las {
      font-size: 1.3rem;
    }
  }

  .navbar__actions {
    display: flex;
    align-items: center;
  }

  .navbar__mode {
    font-size: 2rem;
    padding: 0 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background: rgba(0, 0, 0, 0.1);
    }
  }

  .navbar__burger {
    z-index: 300;
    cursor: pointer;
    transition: all 0.5s ease-out;

    div {
      width: 28px;
      height: 3px;
      margin: 0 0 5px 0;
      background: var(--clr-font);
      transition: all 0.5s ease-out;

      &:last-child {
        margin: 0;
      }
    }
  }

  .navbar__burger.close {
    transform: rotate(180deg);

    z-index: 1000;

    div:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }
    div:nth-child(2) {
      opacity: 0;
    }
    div:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px);
    }
  }

  @media screen and (min-width: 1024px) {
    .navbar__logo {
      padding: 0.5rem 0;
    }

    .navbar__contact.floating {
      position: fixed;
      z-index: 30;
      bottom: 70px;
      right: 20px;

      .btn {
        visibility: hidden;
      }

      .icon {
        visibility: visible;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .container {
      padding: 0 0.5rem;
    }

    .navbar__lang {
      margin-right: 1rem;
    }
  }

  @media screen and (max-width: 560px) {
    .navbar__contact,
    .navbar__mode {
      font-size: 0.8rem;
    }

    .navbar__logo,
    .navbar__lang,
    .navbar__contact .las {
      display: none;
    }
  }
}
