<div class="container">
  <div class="navbar__logo"></div>
  <div class="navbar__contact">
    <a href="mailto:hello@re-wo-dev.com" class="btn">hello@re-wo-dev.com</a>
    <span class="las la-copy btn" (click)="copy()"></span>
  </div>
  <div class="navbar__actions">
    <div class="navbar__lang" (click)="changeLanguage()">
      <img *ngIf="currentLang === 'en'" src="assets/img/de.png" alt="de" />
      <img *ngIf="currentLang === 'de'" src="assets/img/en.png" alt="en" />
    </div>
    <div class="navbar__burger" (click)="toggleMenu()" [class.close]="sideMenuService.visible$ | async">
      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
      <div aria-hidden="true"></div>
    </div>
  </div>
</div>
